body {
  height: 100%;
}

.mask
{  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  z-index: 999;
  /*pointer-events: none;*/
  transition: 0.5s opacity ease;
}

#nickname-form {
  width: 30%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

nav {
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 1.4em;
}

.messages {
  overflow-y: scroll;
}

.msg {
  width: 100%;
  padding: 3px;
  font-size: 1.1em;
}

.msg:nth-child(2n+1) {
  background: #f0f0f0;
}

.msg-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0px 3px 5px 3px;
}
